DB_USERNAME=admin
DB_PASSWORD=1234
DB_NAME=identity
DB_URL=jdbc:postgresql://localhost:5433/identity
JWT_SECRET=984hg493gh0439rthr0429uruj2309yh937gc763fe87t3f89723gf
JWT_LIFETIME=100m
EUREKA_URL=http://localhost:8761/eureka
ISSUER_URI=http://localhost:9000
CV_CLIENT_ID=cv-app-client
CV_CLIENT_SECRET={noop}secret
CV_CLIENT_REDIRECT_URI=http://localhost:8090/login/oauth2/code/cv-app-client
CV_CLIENT_POST_LOGOUT_REDIRECT_URI=http://localhost:8090